
# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# IDE/editor files
.vscode/
.DS_Store

# TypeScript cache
*.tsbuildinfo

# Mac system files
.DS_Store

# Optional: lock files if you use only one package manager
# package-lock.json
# yarn.lock

*storybook.log
storybook-static
